.filter-section {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  table {
    background-color: #fff;
  }
}

.filter-aside {
  background-color: #fff;
}

.filter-content {
  padding: 15px;
  border-left: 1px solid #ccc;
  th, td {
    white-space: nowrap;
  }
}

.panel-group {
  .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
    .panel-heading {
      padding: 0;
      border-radius: 0;
      color: #212121;
      .panel-title {
        font-size: 12px;
        margin-bottom: 0;
        a {
          display: block;
          padding: 10px;
          text-decoration: none;
          .more-less {
            float: right;
            color: #212121;
          }
        }
      }
    }
  }
}

.filter-list {
  margin: 0 10px;
  .chk-wrap {
    float: left;
  }
  li {
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
    padding: 8px 8px 10px;
    margin-bottom: 8px;
    span {
      display: inline-block;
      vertical-align: middle;
      &.chk-wrap {
        margin-right: 10px;
      }
    }
  }
}