body {
  font-size: 12px;
  font-family: $body-font;
  background: #fbfbfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f5f8fb, #fbfbfb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5f8fb, #fbfbfb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 45px;
  font-weight: 400;

  .form-control {
    font-size: 12px;
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-color: #ccc;
    }
  }

  textarea {
    border-color: #ccc;

    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-color: #ccc;
      outline: none;
    }
  }

  a {
    color: #4d4d4d;
    @include transition(all, 0.5s, ease-in-out);

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  button {
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline: none;
    }

    &:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  .btn {
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline: none;
    }
  }
}

sup {
  font-size: 14px;
}

.error-message {
  position: absolute;
  bottom: -16px;
  left: 0;
  color: #dc3545;
}

.import-container {
  padding: 0 15px 15px;
  display: none;
}

.import-section {
  padding: 8px;
  border: 1px solid $border-color;
  .form-group {
    margin: 0;
    label {
      margin: 0;
    }
    small {
      margin: 0;
    }
  }
  .custom-file-label {
    height: calc(1.7rem + 2px);
    line-height: 1.2;
    @include border-radius(0);
    margin: 0;
    &:after {
      height: calc(calc(1.7rem + 2px) - 1px * 2);
      line-height: 1.2;
    }
  }
  .custom-file-input {
    height: calc(1.7rem + 2px);
  }
  .custom-file {
    height: calc(1.7rem + 2px);
    margin: 5px 0px;
  }
}

.modal-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, .5);
  i{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
  }
}
